.filelink p {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
}

.filelink .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    background: #fff;
    margin-top: 8px;
}

.filelink input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
    background: transparent;
}

/* Copy icon styling */
.filelink .copy-icon {
    cursor: pointer;
    color: #007bff;
    font-size: 20px;
}

/* Hover effect */
.filelink .copy-icon:hover {
    color: #0056b3;
}

/* Tick icon styling */
.filelink .tick-icon {
    cursor: pointer;
    color: #007bff;
    font-size: 25px;
}

/* Hover effect */
.filelink .tick-icon:hover {
    color: #0056b3;
}

.filelink .qr-container {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.instruction{
    padding: 10px 0px;
}